@import "reset.css";

*,*::before,*::after{
    box-sizing: border-box;
}
body{
    line-height: 1.5;
color: #3F5D45;
}
img{
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
/*layout*/


/*component*/

/*pages*/
.header{
    padding: 30px 0;
}
.banner{
    background-image: url(img/banner.png);
}
/*utils*/
.container{
width: 940px;
margin: 0 auto;
}
.d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.gap-15{
    gap: 60px;
}
.pl-19px{
    padding-left: 19px;
}