@import "reset.css";

*,*::before,*::after{
    box-sizing: border-box;
}
body{
    line-height: 1.5;
color: #3F5D45;
}
img{
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
/*layout*/


/*component*/

/*pages*/
.header{
    padding: 30px 0;
}
.banner{
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/banner.png?raw=true);
}
.main{
    padding: 60px 0;
}
.main-list h3{
    text-align: center;
    padding: 15px 0;
    background: #3F5D45;
    color: #ffffff;
}
.main-list li{
    text-align: center;
    
    border: 1px solid #EAF0ED;
}
.main-list li:hover{
    background: #EAF0ED;
}
.main-list a{
    padding: 15px 66px;
}
/*utils*/
.container{
width: 940px;
margin: 0 auto;
}
.d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.gap-15{
    gap: 60px;
}
.pl-19px{
    padding-left: 19px;
}

.fs-1{
    font-size: 24px;
}
.fs-2{
    font-size: 20px;
}
.gap-5{
    gap: 20px;
}